<h1 class="text-center" >Edit Movie</h1>

<br>
<br>

<div class="editMovieForm">
    <form (ngSubmit) = "onSubmit">
        Title: <input style="margin-left: 10px;" type="text" id="title" name="title" value={{editMovie.title}}>
        <br>
        <br>
        Director: <input style="margin-left: 10px;" type="text" id="director" name="director" value={{editMovie.director}}>
        <br>
        <br>
        Duration: <input style="margin-left: 10px;" type="text" id="duration" name="duration" value={{editMovie.duration}}>
        <br>
        <br>
        Rating: <input style="margin-left: 10px;" type="text" id="rating" name="rating" value={{editMovie.rating}}>
    </form>
</div>
<br>
<br>
<div class="submitDiv">
    <span class="submitSpan"><button class="btn btn-success" routerLink="/movies"> Submit Changes</button></span>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <span><button class="btn btn-danger" (click)="goToMovieList()">Cancel</button></span>
</div>
