<h1 class="text-center" >Edit Book</h1>

<br>
<br>

<div class="editBookForm">
    <form (ngSubmit) = "onSubmit">
        Title: <input style="margin-left: 10px;" type="text" id="title" name="title" [(ngModel)]="editBook.title">
        <br>
        <br>
        Author: <input style="margin-left: 10px;" type="text" id="author" name="author" [(ngModel)]="editBook.author">
        <br>
        <br>
        ISBN: <input style="margin-left: 10px;" type="text" id="isbn" name="isbn" [(ngModel)]="editBook.isbn">
        </form>
</div>
<br>
<br>
<div class="submitDiv">
    <span class="submitSpan"><button  type="button" class="btn btn-success"> Submit Changes</button></span>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <span><button type="button" class="btn btn-danger" (click)="goToBookList()">Cancel</button></span>
</div>
